.container{
	max-width: none;
	width: 888px;
}
#ui-datepicker-div{
	z-index: 10 !important;
}
#informacionAdicional{
	text-align: center;
}
#informacionAdicional span{
	text-align: justify;
}
.informacion{
	margin-top: 10%;
	
}
#sinPagoOnline {
max-width: 340px;
}
#ayudaGC {
max-width: 340px;
}
body{
	background-color: transparent;
}